# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'Select next occurrence': 'select-words:next'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'select-words'
      'submenu': [
        { 'label': 'Select next occurrence', 'command': 'select-words:next' }
      ]
    ]
  }
]
